---
import BaseHead from "../../components/BaseHead.astro";
import RootColors from "../../components/RootColors.astro";
import TickerNav from "../../components/TickerNav.astro";
import { getPhotosByRating } from "../../lib/photoHelper";
import GalleryPhotoScroll from "../../components/GalleryPhotoScroll.astro";
import GalleryHeader from "../../components/GalleryHeader.astro";

const photos = getPhotosByRating(5);

// maybe add ::before little annotations with the year or locations or something?
// maybe like sections saying here's where I was living, here's when I went on a trip, etc
// maybe links to specific galleries with more like a certain photo
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead />
        <RootColors colors={{ accent: "green", background: "#ecebe9" }} />
    </head>
    <body>
        <TickerNav />
        <main>
            <GalleryHeader allPhotographyLink={true} galleries={true} bestOfMonthLink={true}>
                <span slot="title">The Permanent<br />Collection.</span>
                <span slot="description">All the best,<br />throughout the ages.</span>
            </GalleryHeader>
            <GalleryPhotoScroll
                photos={photos}
                captionAlign="random"
                widthBasis="800px"
                imageSize="large"
                shuffle={true}
            />
        </main>
        <style>
            main {
                --gallery-gap: 40vh;
                width: calc(100vw - 80px);
                margin-bottom: var(--gallery-gap);
            }

            @media screen and (max-width: 700px) {
                main {
                    width: calc(100vw - 20px);
                }
            }
        </style>
    </body>
</html>
