---
import { SITE_TITLE, SITE_DESCRIPTION } from "../lib/consts";
import type { PhotoName } from "../data/photoTypes.generated";
import { getPhotoByName } from "../lib/photoHelper";
import "../styles/global.css";
import { ViewTransitions } from "astro:transitions";

interface Props {
    title?: string;
    description?: string;
    photoName?: PhotoName;
    imgSrc?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const defaultPhotoName = "high-castle-london-2024-05-13";
const {
    title = SITE_TITLE,
    description = SITE_DESCRIPTION,
    imgSrc,
    photoName = defaultPhotoName,
} = Astro.props;

// if a src is supplied, use that, otherwise get from photo name
const imgPath =
    imgSrc ??
    getPhotoByName(photoName)?.paths.large ??
    getPhotoByName(defaultPhotoName)?.paths.large;

const faviconPath = ["/favicons/flaxengrass-", ".png"];
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta name="generator" content={Astro.generator} />
<link rel="canonical" href={canonicalURL} />

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
<link rel="manifest" href="/site.webmanifest" />

<!-- Primary Meta Tags -->
<title>(v6, c. 2024) {title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(imgPath, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(imgPath, Astro.url)} />

<ViewTransitions />
